.detail-wrapper {
  width: 966px;
  padding: 0 8px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.personal-header > .user > .user_inner {
  width: 171px;
  border-right: 1px solid #ced4da;
  padding-right: 20px;
}
.user_inner img {
  width: 100%;
  height: 171px;
}
.personal-header > .famous_posts-wrapper {
  height: 100px;
  margin-top: 10px;
}
.strong-sect {
  display: flex;
  width: 600px;
  flex-basis: 100%;
  align-items: center;
  color: #495057;
  margin: 8px 0px;
}
.strong-sect::before,
.strong-sect::after {
  content: "";
  flex-grow: 1;
  background: #ced4da;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}
.detail_content {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #b1c8c7;
  box-shadow: 0 0 3px inset #b1c8c7;
}
.detail_content_header > h2 {
  text-align: center;
}
.detail_content_header .hashtag {
  cursor: pointer;
  background-color: #e9ecef;
  margin-right: 10px;
}
.detail_content_header .hashtag:hover {
  background-color: #adb5bd;
}
.detail_content_nick {
  display: flex;
}
.detail_content_nick p {
  margin-right: 10px;
}
.detail_content_header {
  position: relative;
  padding: 50px;
}
.detail_content_header::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  right: 40px;
  left: 40px;
  margin-top: 20px;
}
.detail_content_content {
  padding: 20px;
}
.detail_content_content p {
  word-break: break-all;
  text-align: center;
  margin-bottom: 10px;
}
.detail_content_content img {
  display: block;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
}
