.pointer {
  cursor: pointer;
  border: 1px solid #ced4da;
  /* color: #ced4da; */
}

.side-wrap {
  width: 280px;
  height: 350px;
  float: right;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-clip: border-box;
  background-color: white;
}
.side-wrap::after {
  content: "";
  display: table;
  clear: both;
}
.side-wrap a {
  text-decoration: none;
}

.my_account {
  margin-bottom: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
}
.my_account.head {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
}
.user-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-color: white;
}
.user-icon img {
  width: 100%;
  height: 100%;
}
.my_account.info {
  margin-left: 10px;
}
.my_account.head.logout {
  position: absolute;
  right: 20px;
  height: 30px;
  margin-top: 10px;
  align-items: center;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  padding-top: 0;
  background-color: #dee2e6;
}
.menu_my_blog {
  background-color: white;
}
.menu_my_blog .blog {
  display: flex;
  font-size: 17px;
  /* border: 1px solid #dee2e6; */
}
.gomy {
  width: 50%;
  border-right: none;
  text-align: center;
}

.menu_my_blog .texting {
  text-align: center;
  width: 50%;
}
.menu_my_blog .texting a {
  text-decoration: none;
  color: #212529;
}

.menu_my_blog.neighbor {
  margin-top: 10px;
  display: flex;
  font-size: 17px;
}
.menu_my_blog.neighbor > .neighborlist.pointer {
  /* width: 50%; */
  /* justify-content: center; */
  /* text-align: center; */
  border: 1px solid white;
  margin-left: 20px;
  margin-right: 20px;
}
.pointer:hover {
  border-bottom-color: black;
}
.menu_my_blog.neighbor > .neighborlist.pointer:hover {
  border-bottom-color: black;
}
.menu_my_blog.neighbor input {
  width: 130px;
  margin-right: 10px;
}
.menu_my_blog.neighbor .search {
  /* background-image: url("/images/search.png"); */
  width: 20px;
}
.menu_my_blog.neighbor .search img {
  width: 100%;
  height: 20px;
  vertical-align: middle;
  opacity: 0.5;
}
.menu_my_blog.neighbor .search img:hover {
  opacity: 1;
}

.nouser {
  width: 100%;
}
.nouser .inputwrap input {
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.nouser button {
  width: 100%;
  height: 30px;
  font-weight: 600;
  background-color: #e7f5ff;
  color: #868e96;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}
.nouser button:hover {
  color: black;
  box-shadow: 2px 2px 6px rgb(102, 102, 102);
}
